
.header a {
    position: fixed;
    margin-left: 1%;
    text-decoration: none;
    outline: none;
}

.logo-name {
    display: flex;
    font-size: 40px;
    font-family: 'Radley', serif;
    text-transform: uppercase;
    color: #19121e;

}

.little-symbol:hover {
    transform: rotate(10deg);
}


body {
    margin: 0;
}

.header {
    height: 50px;
    border-bottom: 2px solid #a1787e;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: white;

}

.header div {
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 10px;
    width: 10%;
    min-width: 140px;
}


.filter {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.filter div {
    color: #a1787e;
    font-size: 20px;
    font-family: Calibri;;


}


.line {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px ridge #a1787e;
}

.filter div input {
    background-color: #FFF3F3;
    width: 100%;
    height: 20px;
    padding-left: 10px;
    border: 2px solid #A1787E;
    border-radius: 10px;
    outline: none;
    color: #9E9C9C;
}

.submitButton {
    background-color: #FFF3F3;
    width: 100%;
    height: 20px;
    padding-left: 10px;
    border: 2px solid #A1787E;
    border-radius: 10px;
    outline: none;
    color: #9E9C9C;
    justify-content: center;
    display: inline-block;
}


#exit_button:active {
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px #a1787e;
}


#exit_button:hover {
    box-shadow: 0px 0px 2px 2px #a1787e;
}

#log_in:active {
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px #a1787e;
}


#log_in:hover {
    box-shadow: 0px 0px 2px 2px #a1787e;
}

#log_in, #exit_button {
    width: auto;
    padding: 5px;
    float: right;
    color: rgb(0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    font-size: 100%;
    text-decoration: none;
    outline: none;
    font-family: Calibri;
    background-color: white;
    box-shadow: 0px 0px 7px 2px #FFF3F3;
    margin-right: 0%;
}


.new_Post button, .More_posts button {
    margin-top: 55px;
    background-color: #ffffff;
    border: 1px solid #a1787e;;
    color: #a1787e;
    border-radius: 30px;
    display: inline-block;
    position: center;
}


.new_Post {
    text-align: center;
    margin: 1%;
    visibility: hidden;
}


.authorizationForm, .createNewPostForm, .editPostForm {
    align-items: center;
    justify-content: center;
    display: none;
    margin-bottom: 15%;
    margin-top: 5%;
}

.authorizationColumn form, .newPostColumn form, .editPostColumn form {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.data {
    font-size: 15px;
    font-family: Calibri;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.like_button {
    display: inline-block;
    float: right;
    background-color: Transparent;
    overflow: hidden;
    width: 10%;
    padding: 1%;
    border: none;
    color: #9E9C9C;

}

.deletePostButton {
    display: inline-block;
    float: right;
    background-color: Transparent;
    overflow: hidden;
    width: 10%;
    padding: 1%;

    height: 100%;
    border: none;
    visibility: hidden;

}

.settings {
    display: inline-block;
    float: right;
    background-color: Transparent;
    overflow: hidden;
    width: 10%;
    padding: 1%;

    height: 100%;
    border: none;
    visibility: hidden;

}


.post {
    width: 50%;
    padding: 10px;
    margin-left: 25%
}

.post a {
    display: block;
}

.post img {
    display: block;
    width: 100%;
    transition: .5s ease-in-out;
}

.description {
    width: 100%;
    border-width: 1px;
    background-color: #FFF3F3;
    margin: 1% 0 0 0;
}

.hashTag {
    width: 100%;
    background-color: #FFF3F3;
    margin: 1% 0 0 0;
}

h2 {
    display: inline-block;
    font-family: Calibri;
    position: relative;
    font-size: 20px;
    color: #a1787e;
    margin: 0;
}


.final {
    font-size: 20px
}


.More_posts {
    display: block;
    border-radius: 15px;
    text-align: center;
    margin-top: 1%;
}

.newImg {
    width: 50%;
}

.newImg img {
    width: 80%;
}